@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Customize scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

/* ::-webkit-scrollbar-track {
  background: rgb(var(--background-start-rgb));
} */

::-webkit-scrollbar-thumb {
  background: rgb(var(--background-end-rgb));
}

.hide-scrollbar {
  /* Hide the scrollbar itself */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.ql-container.ql-snow {
  /* Border none importent*/
  border: #A6ADBA 1px solid  !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
  background-color: #A6ADBA !important;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 8px;
}